.brand{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    letter-spacing: 3px; 
}
.brand:hover{
    color:rgb(238, 49, 49)!important;
}
.menu{
    margin-left: 100px; 
}
.menu .nav-item{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
}
.nav-link{
    color: white!important;
    margin-left: 30px;
}
.nav-item i{
    color: white!important;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 10px;
}
.icon-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.navbar-nav{
    text-align: center;
    align-items: center;
}
.navbar{
    text-align: center;
    margin: auto;
    background-color: rgb(78, 42, 132)!important;
    background-color: rgb(252, 196, 14)!important;
    background: linear-gradient(to right, #fbbd61, #ec7532);
}
.subnav{
    display: flex;
   margin-left: 200px;
}
.navbar .nav-item a:hover{
    color:red!important;
}
.footer{
    margin-top: 100px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    padding: 20px!important;
}
.footer span{
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    
}


