<div class="container">
  <p>
    lowerCase: {{title | lowercase}}
  </p>
  <p>
    uppercase: {{title | uppercase}}
  </p>
  <p>
    datePipe: {{ngay | date: 'dd-MM-yyyy'}}
  </p>
  <p>
    datePipe: {{ngay | date: 'hh:mm:ss'}}
  </p>
  <p>
    datePipe: {{ngay | date: 'dd-MM-yyyy hh:mm:ss'}}
  </p>
  <p>
    decimalPipe: {{tien | number}}
  </p>
  <p>
    decimalPipe: {{dola | number: '3.2-3'}}
  </p>
  <p>
    percentPipe: {{phanTram | percent: '2.2-3'}}
  </p>
  <p>
    percentPipe: {{phanTram | percent: '2.2-3'}}
  </p>
  <p>
    jSonPipe: {{nguoiDung | json}}
  </p>
</div>
